/* ========================
Base styles 
===========================*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #49494d;
    font-weight: 300;
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
}

header {
    background-color: rgb(248, 248, 248);
    padding: 2em 1em 1em 1em;
}

main {
    padding: 0 1em;
    margin: 2.3em 0 5em;
}

.main-nav, h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800; 
}

h1 {
    margin: 0;
}

h3 {
    margin-top: 2em;
}

h2, h3 {
    font-size: 1.4rem;
}
/*=============sections=========*/
.section {
    margin: 2.3em 0;
}

.section p {
    padding: 0 1.2em;
}

/*=============links=========*/
a {
    text-decoration: none;
    color: #49494d;
}

/*=============images=========*/
img {
    width: 90%;
}

.portrait {
     width: 75%;
     margin: 1.5em 0;
}

/*=============navigation=========*/
.nav {
    display:flex;
}

ul {
    flex-direction: column;
    justify-content: center;
    list-style: none; 
    padding: 0 0; 
}

li {
    background-color: white;
    padding: 0.8em;
    margin: 0.2em;
    min-width: 120px;
}
/*=============footer=========*/
hr {
    width: 90%;
    height: 1px;
    background-color:rgb(231, 229, 229, 0.3);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    padding: 3em 1em 0;
 }

.footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2em;
    font-weight: 600;
    width: 90%;
}
.caps {
    text-transform: uppercase;
}

/* ========================
Media Queries
==========================*/

/*@media overall*/
@media screen and (min-width: 768px) {
    
    /*======@media header======*/
    .main-nav {
        flex-direction: row;
        justify-content: center;
    }
    li {
        background-color: rgb(248, 248, 248);
    }
    .intro {
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .intro p {
        width: 47%;
        text-align: left;
    }
    .intro img {
        width: 47%;
    }
    /*======@media main======*/
    .main-sections {
        display: flex;
        flex-wrap: wrap;
    }
    /*======@media footer======*/
    .to-top {
        display: none;
    }
    .last-nav {
        display: flex;
        flex-direction: row;
    }
    .last-nav li {
        padding: 0;
        margin: 0;
    }
}

/*mobile only*/
@media screen and (max-width: 767px) {
    .foot-nav {
        display:none;
    }
}

/*tablet only*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    /*======tablet header======*/
    .main-nav {
        margin-top: 0;
    }
    /*======tablet main======*/
    main {
        margin-bottom: 3em;
    }
    .section {
        width:49%;
        margin: 2.3em 0 0;
    }

    /*======tablet footer======*/
    footer p {
        width: 60%;
    }
} 

/*desktop*/
@media screen and (min-width: 1023px) {
   
    body {
        background-color: rgb(248, 248, 248);
        max-width: 900px;
        margin: 0 auto;
    }

    /*======desktop header======*/
    
    .name {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .name li {
        padding: 0 10px;
    }
    .main-nav {
        margin-top: 0;
    }
    /*======desktop main======*/
    main {
        background-color: white;
        margin: 1em auto;
        padding: 3em 0;
    }
    .section {
        width:33%;
        margin: 2.3em 0 0;
    }

    /*======desktop footer======*/
    footer {
        padding: 0;
        margin: 1em;
    }
    footer p {
        width: 50%;
    }
}

